<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" 
        sizes="144x144" 
        href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" 
        title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> 
  <link rel="stylesheet" 
        href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript">
  /**
   * Expects: elt is a jquery object with html property
   */
  function render(elt, setDM) {
    //console.log("Rendering " + elt.innerHTML);
    katex.render(elt.innerHTML, elt, {
      displayMath: setDM
    })
  }

  function closeTOC(button) {
    button.attr("state", "hide");
    button.removeClass("active");
    var tocMenu = $(".toc");
    tocMenu.addClass("closed");
    $(".container").css("left", "0px");
  }

  var UI_FUNCTIONS = {
    "toc-toggle": {
      click: function(event) {
        if ($(this).attr("state") == "hide") {
          $(this).attr("state", "show");
          $(this).addClass("active");

          var tocMenu = $(".toc.closed");
          tocMenu.removeClass("closed");
          $(".container").css("left", String(
            tocMenu.outerWidth() * 0.5
          ) + "px");         
        } else {
          closeTOC($(this));
        }
      },

      init: function(item) {
        $(".toc .close-button").on("click", function(event){
          closeTOC(item);
        });
      }
    }
  };
  function buildUIMenu(uiMenu) {
    uiMenu.find(".menu-item").each(function(index){
      var itemName = $(this).attr("for");
      if (itemName in UI_FUNCTIONS) {
        for (var key in UI_FUNCTIONS[itemName]) {
          if (key == "init"){
            UI_FUNCTIONS[itemName][key].call(null, $(this));
          } else {
            $(this).on(key, UI_FUNCTIONS[itemName][key]);
          }
        }
      }
    });
  }

  window.onload = function(event) {
    $(".inline-math").each(function(index){ render(this, true); });
    $(".display-math").each(function(index){ render(this, false); });

    buildUIMenu($("#ui-menu"));
  };
  </script>
</head>
