// UI Menu
//
// Styling the UI menu on the size

#ui-menu {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em 0.5em;
  color: #aaa;
  background: white;
  z-index: 1000;

  .menu-item {
    cursor: pointer;

    :hover {
      color: #666;
    }
  }

  .menu-item.active {
    color: #09f;
  }
}